.ContactItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Segoe UI";
	font-size: 1.4rem;
	transition: 5ms;
	font-weight: 500;
	color: #e2e3f8;
	border-bottom: 2px;
	border-color: rgb(43, 43, 43);
	justify-content: flex-start;
}
.ContactItem img {
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
	padding-right: 1rem;
}
