.AppHeader {
	font-family: "Segoe UI";
	font-size: 2.5rem;
	display: flex;
	font-weight: 800;
	color: #e2e3f8;
	margin-top: 2.3rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	width: 90%;
	padding-right: 1rem;
}

.ContactList {
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	height: 80%;
	padding: 0;
}
.ContactList li {
	padding-left: 20px;
	margin-bottom: 0.5rem;
	list-style-type: none;
}

.ContactList li:hover {
	background-color: rgba(68, 75, 175, 0.6);
}
